*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    font-family: 'Poppins', sans-serif;
    
}
/*phone*/
@media (min-width:330px) and (max-width:576px){ 
    @keyframes loading {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2.5);
        }
        40% {
          transform: scale(1);
        }
    }
    @keyframes zoom-in-out {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:1rem;
        margin:0;
        width:100%;
        height:fit-content;
        background-color: #FA991C;
        color:#FBF3F2;
    }
    .main-container > img{
      width:28px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding:2rem;
        justify-content: space-between;
    }
    .content #topHeading{
        font-size: 0.8rem;
        color:#051e29;
        text-align: center;
    }
    .items{
        margin-top:1rem;
        width:100%;
        display: flex;
        flex-direction:column;
        gap:1rem; 
        align-items: center;  
        /* border:1px solid red; */
    }
    .items .logos{
        margin-top:0.5rem;
        width:100%;
        display: flex;
        justify-content: center;
        gap:0.5rem;
    }
    .items .logos img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0.5rem;
        /* border-right:2px solid #032539; */
        width:22%;
        /* padding:0rem 0.7rem; */
    }
    .items>h2{
        text-align: center;
        font-size:1rem;
        color: #032539;
        padding:0;
        margin:0;
    }
    h1{
        text-align: center;
        font-size:3rem; 
        color:#032539;
        line-height:3.8rem;
    }
    h1 span{
        color:#FBF3F2
    }
    .items i{
        padding:0;
        margin:0;
        animation: zoom-in-out 2s infinite;
        text-align: center;
        width:100%;
        font-size:7rem;
    }
    .start{
        margin:0;
        padding-top: 1rem;
        padding-bottom:3rem;
        display: flex;
        justify-content: center;
        /* gap:0.6rem; */
        align-items: center;
        width:100%;
        background-color:#FA991C;
    }
    .start i{
        font-size:3rem;
    }
    .loading {
        background-color: #FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40vh;
      }
      
      .loading__bar {
        width: 10px;
        height: 35px;
        margin: 0 5px;
        background-color: #000;
        animation: loading 1s ease-in-out infinite;
      }
      
      .loading__bar:nth-child(1) {
        animation-delay: 0.1s;
      }
      
      .loading__bar:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .loading__bar:nth-child(3) {
        animation-delay: 0.3s;
      }
      
      .loading__bar:nth-child(4) {
        animation-delay: 0.4s;
      }
    .codeContestBlock{
        background-color:#FBF3F2;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top:1.5rem;
        justify-content: center;
    }
    .card{
        padding:0;
        background-color:#032539;
        color:#FA991C;
        margin:1rem;
        width:80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:0rem;
        word-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1rem;
        overflow: hidden;
        /* border:1px solid red; */
    }
    .card>img{
    padding:1rem;
    width:100%;
    height:12rem;
    border-radius:2em;
    overflow: hidden;

    }
    .info{
        margin:0;
        font-size:1rem;
        padding:0.4rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
    }
    .info .infoContent{
        margin-bottom: 0.2rem;
        display: block;
        padding:0rem;
        font-size:0.9rem;
        color:#FBF3F2;
    }
    .info p{
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        border-radius:0.7rem;
        padding:0.4rem;
        text-align: center;
        border-bottom:1px solid #FBF3F2;
    }
    .visit{
        width:100%;
        padding: 1rem 0.7rem;
        display: flex;
        justify-content: center;
    }
    .visit>a{
        text-align: center;
        width:95%;
        font-size: 1.4rem;
        border:none;
        padding:0.4rem 1rem;
        text-decoration: none;
        background-color:#FA991C;
        color: #FBF3F2;
        border-radius: 0.7rem;
    }
    .visit a:hover{
        background: transparent;
        color:#FA991C;
        border:2px solid #FA991C;    
        transition: background 0.8s ,color 0.8s,border 0.8s ;
    }
    h3{
        margin-bottom: 0.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 1.4rem;
        color:#FBF3F2;
    }
    footer{
        padding:1.3rem 0.7rem;
        width:100%;
        height:fit-content;
        background-color: black;
        color:#FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
    }
    .Finfo{
        /* padding:2rem; */
        display: flex;
        flex-direction: column;
        font-size:0.6rem;
        gap:0.3rem;
    }
    .Ficons{
        /* padding:2rem; */
        display: flex;
        gap:0.7rem;
        font-size:1.3rem;
    }
    .Ficons span a{
        text-decoration: none;
        color:#FBF3F2;
    }
    .Fcopy{
        margin-top:4rem;
        /* padding:1.4rem; */
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color:grey;
    }
}
/*tablet*/
@media (min-width:577px) and (max-width:768px){
    @keyframes loading {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2.5);
        }
        40% {
          transform: scale(1);
        }
    }
    @keyframes zoom-in-out {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
      
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:1rem;
        margin:0;
        width:100%;
        height:fit-content;
        background-color: #FA991C;
        color:#FBF3F2;
    }
    .main-container > img{
      width:28px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding:2rem;
        justify-content: space-between;
    }
    .content #topHeading{
        font-size: 0.8rem;
        color:#051e29;
        text-align: center;
    }
    .items{
        margin-top:1rem;
        width:100%;
        display: flex;
        flex-direction:column;
        gap:1rem; 
        align-items: center;  
        /* border:1px solid red; */
    }
    .items .logos{
        margin-top:0.5rem;
        width:100%;
        display: flex;
        justify-content: center;
        gap:0.5rem;
    }
    .items .logos img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0.5rem;
        /* border-right:2px solid #032539; */
        width:22%;
        /* padding:0rem 0.7rem; */
    }
    .items>h2{
        text-align: center;
        font-size:1rem;
        color: #032539;
        padding:0;
        margin:0;
    }
    h1{
        text-align: center;
        font-size:3rem; 
        color:#032539;
        line-height:3.8rem;
    }
    h1 span{
        color:#FBF3F2
    }
    .items i{
        padding:0;
        margin:0;
        animation: zoom-in-out 2s infinite;
        text-align: center;
        width:100%;
        font-size:7rem;
    }
    .start{
        margin:0;
        padding-top: 1rem;
        padding-bottom:3rem;
        display: flex;
        justify-content: center;
        /* gap:0.6rem; */
        align-items: center;
        width:100%;
        background-color:#FA991C;
    }
    .start i{
        font-size:3rem;
    }
    .loading {
        background-color: #FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40vh;
      }
      
      .loading__bar {
        width: 10px;
        height: 35px;
        margin: 0 5px;
        background-color: #000;
        animation: loading 1s ease-in-out infinite;
      }
      
      .loading__bar:nth-child(1) {
        animation-delay: 0.1s;
      }
      
      .loading__bar:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .loading__bar:nth-child(3) {
        animation-delay: 0.3s;
      }
      
      .loading__bar:nth-child(4) {
        animation-delay: 0.4s;
      }
    .codeContestBlock{
        background-color:#FBF3F2;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top:1.5rem;
        justify-content: center;
    }
    .card{
        padding:0;
        background-color:#032539;
        color:#FA991C;
        margin:1rem;
        width:35%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:0rem;
        word-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1rem;
        overflow: hidden;
        /* border:1px solid red; */
    }
    .card>img{
    padding:1rem;
    width:100%;
    height:12rem;
    border-radius:2em;
    overflow: hidden;

    }
    .info{
        margin:0;
        font-size:1rem;
        padding:0.4rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
    }
    .info .infoContent{
        margin-bottom: 0.2rem;
        display: block;
        padding:0rem;
        font-size:0.9rem;
        color:#FBF3F2;
    }
    .info p{
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        border-radius:0.7rem;
        padding:0.4rem;
        text-align: center;
        border-bottom:1px solid #FBF3F2;
    }
    .visit{
        width:100%;
        padding: 1rem 0.7rem;
        display: flex;
        justify-content: center;
    }
    .visit>a{
        text-align: center;
        width:95%;
        font-size: 1.4rem;
        border:none;
        padding:0.4rem 1rem;
        text-decoration: none;
        background-color:#FA991C;
        color: #FBF3F2;
        border-radius: 0.7rem;
    }
    .visit a:hover{
        background: transparent;
        color:#FA991C;
        border:2px solid #FA991C;    
        transition: background 0.8s ,color 0.8s,border 0.8s ;
    }
    h3{
        margin-bottom: 0.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 1.4rem;
        color:#FBF3F2;
    }
    footer{
        padding:1.3rem 0.7rem;
        width:100%;
        height:fit-content;
        background-color: black;
        color:#FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:7rem;
    }
    .Finfo{
        /* padding:2rem; */
        display: flex;
        flex-direction: column;
        font-size:0.6rem;
        gap:0.3rem;
    }
    .Ficons{
        /* padding:2rem; */
        display: flex;
        gap:0.7rem;
        font-size:1.3rem;
    }
    .Ficons span a{
        text-decoration: none;
        color:#FBF3F2;
    }
    .Fcopy{
        margin-top:4rem;
        /* padding:1.4rem; */
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color:grey;
    }
 }
/*pro tablets*/
 @media (min-width:769px) and (max-width:992px){  
    body{
        overflow: hidden;
    }
    @keyframes loading {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2.5);
        }
        40% {
          transform: scale(1);
        }
    }
    @keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
.main-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:1rem;
    margin:0;
    width:100%;
    height:fit-content;
    background-color: #FA991C;
    color:#FBF3F2;
}
.main-container > img{
  width:28px;
}
.content{
    display: flex;
    flex-direction: column;
    padding:2rem;
    justify-content: space-between;
}
.content #topHeading{
    font-size: 0.8rem;
    color:#051e29;
    text-align: center;
}
.items{
    margin-top:1rem;
    width:100%;
    display: flex;
    flex-direction:column;
    gap:1.5rem; 
    align-items: center;  
    /* border:1px solid red; */
}
.items .logos{
    margin-top:0.5rem;
    width:100%;
    display: flex;
    justify-content: center;
    gap:1.5rem;
}
.items .logos img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    /* border-right:2px solid #032539; */
    width:10%;
    /* padding:0rem 0.7rem; */
}
.items>h2{
    text-align: center;
    font-size:1rem;
    color: #032539;
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    font-size:3rem; 
    color:#032539;
    line-height:3.8rem;
}
h1 span{
    color:#FBF3F2
}
.items i{
    padding:0;
    margin:0;
    animation: zoom-in-out 2s infinite;
    text-align: center;
    width:100%;
    font-size:7rem;
}
.start{
    margin:0;
    padding-top: 1rem;
    padding-bottom:3rem;
    display: flex;
    justify-content: center;
    /* gap:0.6rem; */
    align-items: center;
    width:100%;
    background-color:#FA991C;
}
.start i{
    font-size:3rem;
}
.loading {
    background-color: #FBF3F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
  }
  
  .loading__bar {
    width: 10px;
    height: 35px;
    margin: 0 5px;
    background-color: #000;
    animation: loading 1s ease-in-out infinite;
  }
  
  .loading__bar:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .loading__bar:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loading__bar:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .loading__bar:nth-child(4) {
    animation-delay: 0.4s;
  }
.codeContestBlock{
    background-color:#FBF3F2;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding-top:1.5rem;
    justify-content: center;
}
.card{
    padding:0;
    background-color:#032539;
    color:#FA991C;
    width:30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:0rem;
    word-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    overflow: hidden;
    /* border:1px solid red; */
}
.card>img{
padding:1rem;
width:100%;
height:12rem;
border-radius:2em;
overflow: hidden;

}
.info{
    margin:0;
    font-size:1rem;
    padding:0.4rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap:0.4rem;
}
.info .infoContent{
    margin-bottom: 0.2rem;
    display: block;
    padding:0rem;
    font-size:0.9rem;
    color:#FBF3F2;
}
.info p{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    border-radius:0.7rem;
    padding:0.4rem;
    text-align: center;
    border-bottom:1px solid #FBF3F2;
}
.visit{
    width:100%;
    padding: 1rem 0.7rem;
    display: flex;
    justify-content: center;
}
.visit>a{
    text-align: center;
    width:95%;
    font-size: 1.4rem;
    border:none;
    padding:0.4rem 1rem;
    text-decoration: none;
    background-color:#FA991C;
    color: #FBF3F2;
    border-radius: 0.7rem;
}
.visit a:hover{
    background: transparent;
    color:#FA991C;
    border:2px solid #FA991C;    
    transition: background 0.8s ,color 0.8s,border 0.8s ;
}
h3{
    margin-bottom: 0.5rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    color:#FBF3F2;
}
footer{
    padding:1.3rem 0.7rem;
    width:100%;
    height:fit-content;
    background-color: black;
    color:#FBF3F2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7rem;
}
.Finfo{
    /* padding:2rem; */
    display: flex;
    flex-direction: column;
    font-size:0.6rem;
    gap:0.3rem;
}
.Ficons{
    /* padding:2rem; */
    display: flex;
    gap:0.7rem;
    font-size:1.3rem;
}
.Ficons span a{
    text-decoration: none;
    color:#FBF3F2;
}
.Fcopy{
    margin-top:4rem;
    /* padding:1.4rem; */
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:grey;
}
}
/*laptops*/
@media(min-width:993px) and (max-width:1200px){ 
    @keyframes loading {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2.5);
        }
        40% {
          transform: scale(1);
        }
    }
    @keyframes zoom-in-out {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
      
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:1rem;
        margin:0;
        width:100%;
        height:fit-content;
        background-color: #FA991C;
        color:#FBF3F2;
    }
    .main-container > img{
      width:28px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding:2rem;
        justify-content: space-between;
    }
    .content #topHeading{
        font-size: 1rem;
        color:#051e29;
        text-align: center;
    }
    .items{
        margin-top:1rem;
        width:100%;
        display: flex;
        flex-direction:column;
        gap:2.4rem; 
        align-items: center;  
        /* border:1px solid red; */
    }
    .items .logos{
        margin-top:0.5rem;
        width:100%;
        display: flex;
        justify-content: center;
        gap:2rem;
    }
    .items .logos img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0.5rem;
        /* border-right:2px solid #032539; */
        width:8%;
        /* padding:0rem 0.7rem; */
    }
    .items h2{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size:1.5rem;
        color: #032539;
        padding:0;
        margin:0;
    }
    h1{
        text-align: center;
        font-size:4rem; 
        color:#032539;
        line-height:3.8rem;
    }
    h1 span{
        color:#FBF3F2
    }
    .items i{
        padding:0;
        margin:0;
        animation: zoom-in-out 2s infinite;
        text-align: center;
        width:100%;
        font-size:7rem;
    }
    .start{
        margin:0;
        padding-top: 1.7rem;
        padding-bottom:3.3rem;
        display: flex;
        justify-content: center;
        /* gap:0.6rem; */
        align-items: center;
        width:100%;
        background-color:#FA991C;
    }
    .start i{
        font-size:4rem;
    }
    .loading {
        background-color: #FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40vh;
      }
      
      .loading__bar {
        width: 10px;
        height: 35px;
        margin: 0 5px;
        background-color: #000;
        animation: loading 1s ease-in-out infinite;
      }
      
      .loading__bar:nth-child(1) {
        animation-delay: 0.1s;
      }
      
      .loading__bar:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .loading__bar:nth-child(3) {
        animation-delay: 0.3s;
      }
      
      .loading__bar:nth-child(4) {
        animation-delay: 0.4s;
      }
    .codeContestBlock{
        background-color:#FBF3F2;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top:2.5rem;
        padding-bottom:2rem;
        justify-content: center;
        gap:1.4rem;
    }
    .card{
        padding:0;
        background-color:#032539;
        color:#FA991C;
        width:30%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:0rem;
        word-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1rem;
        overflow: hidden;
        /* border:1px solid red; */
    }
    .card>img{
    padding:1rem;
    width:100%;
    height:12rem;
    border-radius:2em;
    overflow: hidden;
    
    }
    .info{
        margin:0;
        font-size:1rem;
        padding:0.4rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
    }
    .info .infoContent{
        margin-bottom: 0.2rem;
        display: block;
        padding:0rem;
        font-size:0.9rem;
        color:#FBF3F2;
    }
    .info p{
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        border-radius:0.7rem;
        padding:0.4rem;
        text-align: center;
        border-bottom:1px solid #FBF3F2;
    }
    .visit{
        width:100%;
        padding: 1rem 0.7rem;
        display: flex;
        justify-content: center;
    }
    .visit>a{
        text-align: center;
        width:95%;
        font-size: 1.4rem;
        border:none;
        padding:0.4rem 1rem;
        text-decoration: none;
        background-color:#FA991C;
        color: #FBF3F2;
        border-radius: 0.7rem;
    }
    .visit a:hover{
        background: transparent;
        color:#FA991C;
        border:2px solid #FA991C;    
        transition: background 0.8s ,color 0.8s,border 0.8s ;
    }
    h3{
        margin-bottom: 0.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 1.4rem;
        color:#FBF3F2;
    }
    footer{
        padding:1.3rem 2rem;
        width:100%;
        height:fit-content;
        background-color: black;
        color:#FBF3F2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:7rem;
    }
    .Finfo{
        /* padding:2rem; */
        display: flex;
        flex-direction: column;
        font-size:1rem;
        gap:0.3rem;
    }
    .Ficons{
        /* padding:2rem; */
        display: flex;
        gap:0.7rem;
        font-size:1.3rem;
    }
    .Ficons span a{
        text-decoration: none;
        color:#FBF3F2;
    }
    .Fcopy{
        margin-top:4rem;
        /* padding:1.4rem; */
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color:grey;
    }
}
/*large desktops*/
@media(min-width:1221px) and (max-width:1800px){
    @keyframes loading {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2.5);
        }
        40% {
          transform: scale(1);
        }
    }
    @keyframes zoom-in-out {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
      
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:1rem;
        margin:0;
        width:100%;
        height:fit-content;
        background-color: #FA991C;
        color:#FBF3F2;
    }
    .main-container > img{
      width:28px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding:2rem;
        justify-content: space-between;
    }
    .content #topHeading{
        font-size: 1rem;
        color:#051e29;
        text-align: center;
    }
    .items{
        margin-top:1rem;
        width:100%;
        display: flex;
        flex-direction:column;
        gap:2.4rem; 
        align-items: center;  
        /* border:1px solid red; */
    }
    .items .logos{
        margin-top:0.5rem;
        width:100%;
        display: flex;
        justify-content: center;
        gap:2rem;
    }
    .items .logos img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0.5rem;
        /* border-right:2px solid #032539; */
        width:6%;
        /* padding:0rem 0.7rem; */
    }
    .items>h2{
        text-align: center;
        font-size:1.5rem;
        color: #032539;
        padding:0;
        margin:0;
    }
    h1{
        text-align: center;
        font-size:4rem; 
        color:#032539;
        line-height:3.8rem;
    }
    h1 span{
        color:#FBF3F2
    }
    .items i{
        padding:0;
        margin:0;
        animation: zoom-in-out 2s infinite;
        text-align: center;
        width:100%;
        font-size:7rem;
    }
    .start{
        margin:0;
        padding-top: 1.7rem;
        padding-bottom:3.3rem;
        display: flex;
        justify-content: center;
        /* gap:0.6rem; */
        align-items: center;
        width:100%;
        background-color:#FA991C;
    }
    .start i{
        font-size:4rem;
    }
    .loading {
        background-color: #FBF3F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40vh;
      }
      
      .loading__bar {
        width: 10px;
        height: 35px;
        margin: 0 5px;
        background-color: #000;
        animation: loading 1s ease-in-out infinite;
      }
      
      .loading__bar:nth-child(1) {
        animation-delay: 0.1s;
      }
      
      .loading__bar:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .loading__bar:nth-child(3) {
        animation-delay: 0.3s;
      }
      
      .loading__bar:nth-child(4) {
        animation-delay: 0.4s;
      }
    .codeContestBlock{
        background-color:#FBF3F2;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top:2.5rem;
        padding-bottom:2rem;
        justify-content: center;
        gap:1.4rem;
    }
    .card{
        padding:0;
        background-color:#032539;
        color:#FA991C;
        width:28%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap:0rem;
        word-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1rem;
        overflow: hidden;
        /* border:1px solid red; */
    }
    .card>img{
    padding:1rem;
    width:100%;
    height:18rem;
    border-radius:2em;
    overflow: hidden;
    
    }
    .info{
        margin:0;
        font-size:1rem;
        padding:0.4rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
    }
    .info .infoContent{
        margin-bottom: 0.2rem;
        display: block;
        padding:0rem;
        font-size:1rem;
        color:#FBF3F2;
    }
    .info p{
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        border-radius:0.7rem;
        padding:0.4rem;
        text-align: center;
        border-bottom:1px solid #FBF3F2;
    }
    .visit{
        width:100%;
        padding: 1rem 0.7rem;
        display: flex;
        justify-content: center;
    }
    .visit>a{
        text-align: center;
        width:95%;
        font-size: 1.4rem;
        border:none;
        padding:0.4rem 1rem;
        text-decoration: none;
        background-color:#FA991C;
        color: #FBF3F2;
        border-radius: 0.7rem;
    }
    .visit a:hover{
        background: transparent;
        color:#FA991C;
        border:2px solid #FA991C;    
        transition: background 0.8s ,color 0.8s,border 0.8s ;
    }
    h3{
        margin-bottom: 0.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 1.8rem;
        color:#FBF3F2;
    }
    footer{
        padding:1.3rem 2rem;
        width:100%;
        height:fit-content;
        background-color: black;
        color:#FBF3F2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:7rem;
    }
    .Finfo{
        /* padding:2rem; */
        display: flex;
        flex-direction: column;
        font-size:1rem;
        gap:0.3rem;
    }
    .Ficons{
        /* padding:2rem; */
        display: flex;
        gap:0.7rem;
        font-size:1.3rem;
    }
    .Ficons span a{
        text-decoration: none;
        color:#FBF3F2;
    }
    .Fcopy{
        margin-top:4rem;
        /* padding:1.4rem; */
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color:grey;
    }
}